<li>
    {{burger_name}}

    <button type="button" class="is-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Devour this burger!{{else}}Order this burger!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>